
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #222222;
}
body {
    background-color: #EFEFEF;
}

header {
    text-align: center;
    padding: 2rem 1rem;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    color: #1FA6B6;
    font-size: 1.8rem;
}

header h3 {
    margin-top: 0.5rem;
    font-weight: 400;
}


main {
    width: 90vw;
    margin: auto;
}


.laranja {
    background: linear-gradient(135deg, #F06449, #d94c32);
    text-align: center;
    padding: 7rem 2rem 3rem 2rem; 
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
    margin-top: 6rem; 
}


.card-laranja h2,
.card-laranja p,
.card-laranja a {
    color: #FFFFFF;
}

.card-laranja h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.card-laranja p {
    margin-bottom: 1rem;
}


.foto {
    width: 11rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    
    position: absolute;
    top: -5.5rem; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    border: 6px solid #FFFFFF;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.foto:hover {
    transform: translateX(-50%) scale(1.05);
}

.redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.redes a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
}

.redes a:hover {
    text-decoration: underline;
}


.sobre-mim {
    padding: 2rem 1rem;
}

.sobre-mim h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.contato {
    margin-top: 1rem;
    padding: 0.7rem;
    border: none;
    background-color: #1FA6B6;
    color: #FFFFFF;
    cursor: pointer;
}


.detalhes {
    padding: 2rem 1rem;
}

.detalhes h2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
}

.detalhes ul {
    list-style: none;
}

.detalhes li {
    margin-bottom: 0.5rem;
}


footer {
    background-color: #3A3A3A;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

footer p {
    color: #FFFFFF;
}